<!DOCTYPE html>

<html>
<head>
<title>Uploaded photo</title>
<style type="text/css">
	#wrapper {
	    width: 100%;
	    overflow: hidden; 
   	}
	#first {
	    width: 70%;
	    float:left; 
	}
	#second {
	    overflow: hidden; 
	}

    </style></head>
<body>
	<div id="wrapper">
		<h1><%=photo[0].title%></h1>
	    <div id="first">
	       
			<img src=" data:<%=photo[0].mimetype%>;base64, <%=photo[0].image%>" style="width:90%">
		</div>
		<div id="second">
	        <p>Title: <%=photo[0].title%></>
	        <p>Description: <%=photo[0].description%></>
	        <p>Make: <%=photo[0].make%></>
	        <p>Model: <%=photo[0].model%></>
	        <p>Date: <%=photo[0].date%></>
	        <p>Longitude: <%=photo[0].coord[0]%></>
	        <p>Latitude: <%=photo[0].coord[1]%></>        
		    <br><br>
			<p>Location service is not available</p>
	    </div>
	</div>
	<br>
    <a href=/>Home</a>
    <br>
    <a href=/photos>Photo List</a>
</body>

</html>